{% extends "unoriginality/header.html" %}

{% block content %}

    <form id="search-form" class="form-horizontal" method="get" action="/search/">
        <div class="form-group">
            <label for="subreddit" class="col-sm-2 control-label">/r/</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subreddit" name="subreddit" placeholder="search a subreddit" required data-validation-required-message="Please enter your name." value="">
            </div>
        </div>

        <div class="form-group">
            <div class="row text-center title">
                <input name="submit" type="submit" value="Search" class="btn btn-blue">
            </div>
        </div>
    </form>

{% endblock %}
