{% extends "unoriginality/header.html" %}

{% block content %}

    <form id="search-form" class="form-horizontal" method="get" action="/search/">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="subreddit" name="subreddit" placeholder="/r/"  value="">
            </div>
        </div>

        <div class="form-group">
            <div class="row text-center title">
                <input name="submit" type="submit" value="Search" class="btn btn-blue">
            </div>
        </div>
    </form>

{% endblock %}
