{% extends "unoriginality/header.html" %}

{% block content %}

    <ul style="list-style-type:none">
    {% for repost in repost_candidates %}
        <li>
            <div class="row services">

                <div class="col-md-2">
                    <img src = "{{repost.thumbnail}}"/>
				</div>

                <div class="col-md-10">
                    <h5> {{repost.title}} </h5>
                    <a style="font-size:100%;" class="light muted" href = {{repost.url}}> {{repost.url}} </a>
                    <p style="font-size:100%;" class="light muted"> Submitted by {{repost.author}} in r/{{repost.subreddit}} </p>

                </div>

			</div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
