{% extends "unoriginality/header.html" %}
{% load staticfiles %}

{% block content %}
    <hr>

    <ul class = "rectangle-list">

    displaying ... of {{ repost_candidates|length }} reposts

    {% for repost in repost_candidates %}
        <li>
            <div class="row services">

                <div class="col-md-2">
                    {% if repost.thumbnail %}
                        <a href="{{repost.url}}"> <img src = "{{repost.thumbnail}}"/> </a>
                    {% else %}
                        <img src = "{% static 'img/icons/thumbnail.png' %}"/>
                    {% endif %}

				</div>

                <div class="col-md-10">
                    <h5> {{repost.title}} </h5>
                    <a style="font-size:100%;" class="light muted" href = {{repost.permalink}}> {{repost.permalink}} </a>
                    <p style="font-size:100%;" class="light muted"> Submitted by {{repost.author}} in /r/{{repost.subreddit}} </p>
                </div>

			</div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
